.white-well.clearfix
  h4 实习职位
  .alert.alert-info
    | 下表为所有实习实训职位信息，
    | 请选择您希望申报的职位
    br
    | 在本阶段内，您可以自由的更改已经申报的职位，
    | 本阶段结束后将不再受理更改
    br
    span.label.label-info 提示
    |  点击条目可查看具体的职位信息
  table.table.table-bordered.table-striped.table-hover
    colgroup
      col.span6
      col.span2
      col.span2
      col.span2
    thead
      tr
        th 职务
        th 导师
        th 人数
        th 发布日期
    tbody
      tr
        td XX集团 - 软件攻城师
        td 牛导A
        td 8
        td 2014-02-16
          i.icon-chevron-right.pull-right
      tr
        td XX电信 - 前端攻城师
        td 牛导B
        td 8
        td 2014-02-16
          i.icon-chevron-right.pull-right
